[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
